
.br {
    width: 100%;
    height: 1px;
    background: #161616;
}

span {
    color: #04959E;
    font-family: Arial, Helvetica, sans-serif;
}

.item {
    display: inline;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 135%;

}

.item a{
text-decoration: none;
    color: #000;
}

.photo {
    background: #00BDC9;
}

.img {
    display: block;
    margin: 0 auto;
    display: flex;
width: 1400px;
height: 552px;
padding: 92px 0;

justify-content: center;
align-items: center;


}

.nav-bar {
    display: flex;
    justify-content: center;
    padding: 32px 0px;
}

.header {
    text-align: center;
}
.bar-container {
    display: flex;
    gap: 72px;
}

.how {
    align-self: stretch;
    color: #000;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 135%; /* 64.8px */
}

.content-div {

    display: flex;
padding: 88px 0px;
flex-direction: column;
align-items: center;
justify-content: center;
}

.text-div {
    display: flex;
padding: 40px 0px;
flex-direction: column;
align-items: flex-start;
justify-content: center;
gap: 24px;

}

.front {
    color: #161616;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
font-style: normal;
width: 856px;
text-align: justify;
font-weight: 400;
line-height: 150%; /* 27px */
}

.paragrapgh {
    color: #161616;
font-family: Inter;
font-size: 21px;
width: 856px;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 31.5px */
}

.button-div {
    display: flex;
padding: 10px;
flex-direction: column;
justify-content: center;
align-items: center;
}

.button {
    display: flex;
padding: 10px 24px;
justify-content: center;
align-items: center;
background: #04959E;
}

.learn {
    color: #FFF;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 135%; /* 24.3px */
}

.footer-text {
    margin: 0 auto;
    display: flex;
width: 856px;
padding: 16px 0px;
justify-content: center;
align-items: flex-start;
}


.right {
    display:flex;
    justify-content: center;
    color: #161616;
text-align: right;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */

}